@import 'templates.scss';
@import 'variables.scss';

html, body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    position: relative;
    max-width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
input, button, select {
    font-family: Arial, Helvetica, sans-serif !important;
    -webkit-appearance:  none;
    -moz-appearance:  none;
    -o-appearance:  none;
    appearance: none;
    border: none;
    outline: none;
}
.icon {
    text-align: center;
}
.preLine {
    @include vl(100px);
}
.endLine {
    @include vl(200px);
}
.text--big {
    font-weight: bold;
    font-size: 1.1em;
}
.text--small {

}
.area--booking {
    background: url('./../images/booking_bg.png');
}
.article {
    width: 45%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
}
.article__header, .article__body {
    display: flex;
}
.article__body {
    line-height: 1.5em;
    position: relative;
}
.article__aside {
    flex: 0 0 3%;
    display: flex;
    flex-direction: column;
}
.article__content {
    flex: 0 0 97%;
    padding: 20px;
    flex-wrap: wrap;
    text-align: justify;
    text-align-last: left;
    display: flex;
    justify-content: space-around;
}
.article__image {
    margin: 20px 0px;
}
.addition {
    float: right;
    width: 200px;
    margin: 15px -100px 0px 15px;
    display: flex;
    flex-direction: column;
}
.addition__title {
    position: relative;
    margin: 0;
    padding: 0px 0px 0.83em 0px;
    &::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 50px;
        height: 3px;
        background: $special;
    }
}
.addition__text {
    text-align: left;
    font-family: none !important;
    font-size: 1.1em;
    font-weight: bold;
}
.note {
    position: absolute;
    left: 100%;
    margin-left: 50px;
    width: 170px;
    text-align: left;
    font-family: none !important;
}
.note__image {
    width: 10px;
    margin: 0px 20px 0px -35px;
}
.title {
    position: relative;
    letter-spacing: 1px;
    font-size: 1.7em;
    &::after {
        position: absolute;
        content: "";
        height: 2px;
        left: 100%;
        margin-left: 10px;
        width: 200px;
        top: 50%;
        transform:  translateY(-50%);
    }
}
.title--dark {
    color: $dark;
    &::after {
        background: $special;;
    }
}
.title--fair {
    color: $fair;
    &::after {
        background: $fair;
    }
}
.calendar, .form {
flex: 0 0 48%;
border-radius: 15px;
}
.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: rgba(0,0,0,0.2);
    .calendar__real {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        color: $fair;
        position: relative;
    }
    .calendar__navigation, .calendar__header, .calendar__body{
        display: flex;
        justify-content: center;
    }
    .calendar__navigation{
        display: flex;
        justify-content: center;
        align-items: center;
        .calendar__button {
            background: none;
            color: $fair;
            font-weight: bold;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            margin: 0px 10px;
            &:hover {
                background: rgba(0,0,0,0.2);
            }
        }
    }
    .calendar__header{
        > div {
            display: flex;
            justify-content: center;
            width: (100%/7);
            font-size: 0.7em;
            font-weight: bold;
        }
    }
    .calendar__body {
        flex-wrap: wrap;
        display: flex;
        .calendar__day {
            position: relative;
            color: $fair;
            background: none;
            display: flex;
            justify-content: center;
            width: (100%/7);
            padding: 3px;
            > div {
                width: 25px;
                height: 25px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                    background: rgba(0,0,0,0.2);
                }
            }
        }
        .calendar__day--active {
            > div {
                background: $special;
            }
        }
        .calendar__day--blocked {
            &::before {
                width: 4px;
                height: 4px;
                content: "";
                top: 2px;
                right: 10px;
                border: 1px solid $fair;
                background: $special;
                position: absolute;
                border-radius: 100%;
            }
        }
    }
}
.form {
    min-height: 300px;
    background: $fair;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-direction: column;
    >  * {
        width: 70%;
        margin: 20px auto;
    }
    
}
.form__email, .form__select, .form__submit {
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
    background: $smoothspecial;
}
.form__select {
    width: 100%;
    background: $smoothspecial url('./../images/arrows.png') no-repeat scroll 96% center;
    background-size: 10px;
    border-radius: 15px;
    overflow: hidden;
}
.form__submit {
    background: $special;
    text-align: center;
    display: flex;
    justify-content: center;
    color: $fair;
    text-transform: uppercase;
}